<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienia -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Tymczasowo dodane, ale działa tylko dla aplikacji systemowych -->
    <!-- <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" /> -->

    <queries>
        <!-- Aplikacje, które mogą obsługiwać pliki .daylio lub ogólne octet-stream -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/octet-stream" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".GiftApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.WszystkiegoNajlepszegoDawid"
        tools:targetApi="35">

        <!-- Główna aktywność -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.WszystkiegoNajlepszegoDawid"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Dodaj filtr intencji dla plików .daylio -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:scheme="content" />
                <data android:pathPattern=".*\\.daylio" />
            </intent-filter>
        </activity>

        <!-- Alias aktywności jako timer (domyślnie wyłączony) -->
        <activity-alias
            android:name=".TimerActivityAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name_timer"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Receiver do powiadomień -->
        <receiver
            android:name=".notification.NotificationReceiver"
            android:exported="false" />

        <!-- Receiver do timera -->
        <receiver
            android:name=".notification.TimerReceiver"
            android:exported="false" />

        <!-- Receiver do ponownego zaplanowania alarmów po restarcie urządzenia -->
        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Provider dla WorkManager -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- FileProvider dla udostępniania plików -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    
    <!-- Required: set your sentry.io project identifier (DSN) -->
    <meta-data android:name="io.sentry.dsn" android:value="https://820d9bbd53f5c44259cf2c233777fa34@o4509377565163520.ingest.de.sentry.io/4509377569095760" />

    <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
    <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
    <!-- enable screenshot for crashes (could contain sensitive/PII data) -->
    <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
    <!-- enable view hierarchy for crashes -->
    <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />

    <!-- enable the performance API by setting a sample-rate, adjust in production env -->
    <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
</application>

</manifest>